/* About Section */
#about {
    background-image: url('../imgs/about-removebg-preview.png'); /* Path to the image */
    background-size: contain; /* Ensure the background covers the entire section */
    background-position: right; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
    padding: 60px;
    color: white; /* Set text color to contrast with the background */
  }
  

  #about h2 {
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
  }
  